<div class="page-header">
  <h1>Pags#pag2 <small>Find me in app/views/pags/pag2.html.erb</small></h1>
</div>
<button id="bg" type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Cambiar fondo</button>
<%= render "alumnos" %>
